<div class='page-header'>
  <div class='btn-toolbar pull-right'>
    <div class='btn-group'>
      <a href="/tasks/new" class="btn btn-info" role="button">+ New Task</a>
    </div>
  </div>
  <h2>Tasks Assigned</h2>
</div>
<ul id="tasks" class="list-group" data-url="<%= sort_tasks_path%>">
  <% @tasks.each do |task|%>
    <li class="list-group-item" id="<%= dom_id(task) %>">
    <%= check_box_tag("name", "0", task&.task_completed, class: "taskCheckbox") %> <%= task&.name %>
    </li>
  <%end%>
</ul>
